<h1>BarkParks</h1>

<p>
  <strong>Address:</strong>
  <%= @park.address %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @park.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @park.longitude %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@park.latitude}%2C#{@park.longitude}" %>

<h3>Nearby parks</h3>
<ul>
<% for park in @park.nearbys(10) %>
  <li><%= link_to park.address, park %> (<%= park.distance.round(2) %> miles)</li>
<% end %>
</ul>

<p>
  <%= link_to "Edit", edit_park_path(@park) %> |
  <%= link_to "Destroy", @park, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", parks_path %>
</p>