<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BarkPark</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" %>
  <%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="off-canvas-wrap fixed" data-offcanvas>
    <div class="inner-wrap">
      <%= render "layouts/small_header" %>
      <%= render "layouts/not_small_header" %>

      <%= render "layouts/flash" %>

      <section class="main-section">
        <div class="row fullWidth">
          <div class="small-12 small-centered text-center">
            <%= yield %>
          </div>
        </section>

        <div id="chart"></div>

        <a class="exit-off-canvas"></a>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
